<div class="auth-container">
  <div class="auth-box">
    <h2>Restablecer Contraseña</h2>
    <p>Introduce tu nueva contraseña para completar el proceso de restablecimiento.</p><br>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <!-- Campo de contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Introduce tu nueva contraseña"
        />
      </mat-form-field>
      <!-- Mensajes de error para contraseña -->
      <div class="error-messages">
        <small *ngIf="resetForm.get('password')?.hasError('required')">La contraseña es requerida.</small>
        <small *ngIf="resetForm.get('password')?.hasError('minlength')">La contraseña debe tener al menos 8 caracteres.</small>
        <small
          *ngIf="resetForm.get('password')?.hasError('pattern')">
          La contraseña debe incluir una letra mayúscula, una minúscula,
          un número y un carácter especial
          (por ejemplo: _ &#64; $ ! % * ? &amp;).
        </small>
      </div>

      <!-- Campo de confirmación de contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirmar Contraseña</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirma tu nueva contraseña"
        />
      </mat-form-field>
      <!-- Mensaje de error para confirmar contraseña -->
      <div class="error-messages">
        <small *ngIf="resetForm.hasError('mismatch') && resetForm.get('confirmPassword')?.touched">
          Las contraseñas no coinciden.
        </small>
      </div>

      <!-- Botón de enviar -->
      <button mat-raised-button color="primary" class="btn-submit" type="submit" [disabled]="resetForm.invalid">
        Restablecer Contraseña
      </button>
    </form>
  </div>
</div>
