<div class="dashboard-container">
    <!-- 1. Aquí pones el botón toggle -->
    <button class="menu-toggle" (click)="sidebarActive = !sidebarActive">
      <i class="fa fa-bars"></i>
    </button>
    <div class="sidebar" [class.active]="sidebarActive">
      <!-- Logo e imagen del usuario -->
      <div class="header">
        <img src="icons/usuario.png" alt="">
        <h3>{{ nombreUsuario }} {{ apellidoUsuario }}</h3>
        <div class="role-switcher">
          <select (change)="cambiarRol($event)" [value]="rolActivo">
              <option *ngFor="let rol of roles" [value]="rol" [selected]="rol === rolActivo">
              {{ rol }}
              </option>
          </select>  
        </div>
      </div>
  
      <!-- Menú de navegación -->
      <nav>
        <ul>
          <!-- Opción "Dashboard Cliente" -->
          <li>
            <a (click)="navigateDashboarCliente()" class="dashboard active">
              <div style="display: flex; align-items: center;">
                <span class="material-icons">dashboard</span>
                <span>Dashboard</span>
              </div>
            </a>
          </li>
  
          <!-- Menú "Vehículo" con submenú -->
          <li>
            <a (click)="toggleMenu('mecanicos')">
              <div style="display: flex; align-items: center;">
                <span class="material-icons">directions_car</span>
                <span>Vehículo</span>
              </div>
            </a>
            <ul *ngIf="showMecanicosMenu" class="submenu">
              <li class="submenu-item">
                <a (click)="navigateVehiculoCliente()">
                  <div style="display: flex; align-items: center;">
                    <span class="material-icons">event_available</span>
                    <span>Registrar Vehículo</span>
                  </div>
                </a>
              </li>
            </ul>
            <!-- 
            <ul *ngIf="showMecanicosMenu" class="submenu">
              <li class="submenu-item">
                <a>
                  <div style="display: flex; align-items: center;">
                    <span class="material-icons">history</span>
                    <span>Historial</span>
                  </div>
                </a>
              </li>
            </ul>
            -->
            <ul *ngIf="showMecanicosMenu" class="submenu">
              <li class="submenu-item">
                <a (click)="navigateListarVehiculos()">
                  <div style="display: flex; align-items: center;">
                    <span class="material-icons">list</span>
                    <span>Listado</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
  
          <!-- Menú "Citas" con submenú -->
          <li>
            <a (click)="toggleMenu('citas')">
              <div style="display: flex; align-items: center;">
                <span class="material-icons">calendar_today</span>
                <span>Citas</span>
              </div>
            </a>
            <ul *ngIf="showCitasMenu" class="submenu">
              <li class="submenu-item">
                <a (click)="navigateCitas()">
                  <div style="display: flex; align-items: center;">
                    <span class="material-icons">event_available</span>
                    <span>Programar Cita</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
  
          <!-- Menú "Historial" -->
          <li>
            <a (click)="toggleMenu('historial')">
              <div style="display: flex; align-items: center;">
                <span class="material-icons">history</span>
                <span>Historial</span>
              </div>
            </a>
            <ul *ngIf="showHistorialMenu" class="submenu">
              <li class="submenu-item">
                <a (click)="navigateHistorial()">
                  <div style="display: flex; align-items: center;">
                    <span class="material-icons">history_toggle_off</span>
                    <span>Historial</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
  
          <!-- Menú "Monitoreo Tiempo Real" con submenú -->
          <li>
            <a (click)="toggleMenu('monitoreo')">
              <div style="display: flex; align-items: center;">
                <span class="material-icons">settings</span>
                <span>Monitoreo TR</span>
              </div>
            </a>
            <ul *ngIf="showMonitoreoMenu" class="submenu">
              <li class="submenu-item">
                <a routerLink="/profile">
                  <div style="display: flex; align-items: center;">
                    <span class="material-icons">build</span>
                    <span>Estado del Vehículo</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
            
          <!-- Opción "Cerrar Sesión" -->
          <li>
            <a (click)="logout()">
              <div style="display: flex; align-items: center;">
                <span class="material-icons">logout</span>
                <span>Cerrar Sesión</span>
              </div>
            </a>
          </li>
        </ul>
      </nav>
  
      <!-- Reloj al final del Sidebar -->
      <div class="reloj-container">
        <i class="fas fa-clock"></i>
        <span>{{ tiempoRestante }}</span>
      </div>
      
    </div>
  
    <!-- Contenido principal -->
    <div class="main-content">
      <!-- Tarjetas de resumen -->
      <div class="summary-container">
        <div class="summary-card">
          <span class="summary-title">Vehículos en Revisión</span><br><br>
          <span class="summary-value">{{ categoryData[0].value || 0 }}</span><br><br>
          <span class="summary-subtitle">Actualizado en tiempo real</span>
        </div>
    
        <div class="summary-card">
          <span class="summary-title">Vehículos en Reparación</span><br><br>
          <span class="summary-value">{{ categoryData[1].value || 0 }}</span><br><br>
          <span class="summary-subtitle">En proceso</span>
        </div>
    
        <div class="summary-card">
          <span class="summary-title">Vehículos Finalizados</span><br><br>
          <span class="summary-value">{{ categoryData[2].value || 0 }}</span><br><br>
          <span class="summary-subtitle">Listos para entrega</span>
        </div>
      </div><br>

      <!-- Contenedor para gráficos -->
      <div class="charts-row">
        <div class="chart-container">
          <h4 class="chart-title">Etapas de Vehículos</h4>
          <ngx-charts-pie-chart
            [view]="view"
            [results]="categoryData"
            [legend]="true"
            [legendTitle]="'Etapas'"           
            [labels]="true"
            [doughnut]="true"
            [gradient]="true"
            [arcWidth]="0.3"
            [animations]="true"
            [tooltipDisabled]="false"
            [customColors]="[
              { name: 'Revisión', value: '#f974a0' },  
              { name: 'Reparación', value: '#14b1f4' }, 
              { name: 'Finalización', value: '#9b63fd' }
            ]">
          </ngx-charts-pie-chart>
        </div>     
    
        <div class="chart-container">
          <!-- Título del gráfico -->
          <div class="header-container">
            <h4 class="chart-title">Progreso de Vehículos</h4>
            <!-- Menú de descargas
            <div class="dropdown">
              <span class="menu-icon" (click)="toggleDropdown()">☰</span>
              <div class="dropdown-menu" *ngIf="showDropdown"><br>
                <a (click)="descargarEstadoVehiculos()">📄 Descargar PDF</a>
              </div>
            </div>
          </div> -->
  
          <!-- Tabla -->
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
            <ng-container matColumnDef="vehiculo">
              <th mat-header-cell *matHeaderCellDef> Vehículo </th>
              <td mat-cell *matCellDef="let element"> {{ element.vehiculo }} </td>
            </ng-container>
        
            <ng-container matColumnDef="etapa">
              <th mat-header-cell *matHeaderCellDef> Etapa </th>
              <td mat-cell *matCellDef="let element"> {{ element.etapa }} </td>
            </ng-container>
        
            <ng-container matColumnDef="servicios">
              <th mat-header-cell *matHeaderCellDef> Servicios y Progresos </th>
              <td mat-cell *matCellDef="let element">
                <div *ngFor="let servicio of element.servicios" class="service-progress-wrapper">
                  <span>{{ servicio.nombre }}</span>
                  <div class="progress-bar-wrapper">
                    <mat-progress-bar mode="determinate" [value]="servicio.progreso" class="progress-bar"></mat-progress-bar>
                    <span>{{ servicio.progreso }}%</span>
                  </div>
                </div>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[2, 4, 6, 8, 10, 12]" showFirstLastButtons></mat-paginator>
        </div>                                                                                               
      </div>
    </div>                        
</div>
  