<div class="modal-container" role="dialog" cdkTrapFocus>
  <!-- Header del modal -->
  <div class="modal-header">
    <h2>Editar Horario</h2>
    <button mat-icon-button (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="horarioForm" (ngSubmit)="onSave()">
    <div class="modal-body">
      <!-- Día de la Semana -->
      <mat-form-field appearance="outline">
        <mat-label>Día</mat-label>
        <mat-select formControlName="dia_semana">
          <mat-option *ngFor="let dia of diasSemana" [value]="dia">{{ dia }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Mañana Inicio -->
      <mat-form-field appearance="outline">
        <mat-label>Inicio de Jornada</mat-label>
        <input matInput type="time" formControlName="manana_inicio" placeholder="Hora de inicio de jornada">
      </mat-form-field>

      <!-- Tarde Fin -->
      <mat-form-field appearance="outline">
        <mat-label>Fin de Jornada</mat-label>
        <input matInput type="time" formControlName="tarde_fin" placeholder="Hora de fin de jornada">
      </mat-form-field>

      <!-- Capacidad Máxima de Reservas -->
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Capacidad Máxima de Reservas</mat-label>
        <input
          matInput type="number" formControlName="capacidad_max" min="1" max="10"
          placeholder="Ingrese la capacidad maxima de reservas"
        >
        <mat-error *ngIf="horarioForm.get('capacidad_max')?.hasError('required')">
          La capacidad es obligatoria.
        </mat-error>
        <mat-error *ngIf="horarioForm.get('capacidad_max')?.hasError('pattern')">
          Debe ingresar solo números.
        </mat-error>
        <mat-error *ngIf="horarioForm.get('capacidad_max')?.hasError('min')">
          La capacidad debe ser al menos 1.
        </mat-error>
        <mat-error *ngIf="horarioForm.get('capacidad_max')?.hasError('max')">
          La capacidad no puede superar 10.
        </mat-error>
      </mat-form-field>
    </div>

    <footer class="modal-footer">
      <button mat-button class="btn-danger" type="button" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" class="btn-success" type="submit">Guardar Cambios</button>
    </footer>
  </form>
</div>
