<div class="dashboard-container">
    <!-- 1. Aquí pones el botón toggle -->
    <button class="menu-toggle" (click)="sidebarActive = !sidebarActive">
      <i class="fa fa-bars"></i>
    </button>
    <div class="sidebar" [class.active]="sidebarActive">
      <!-- Logo e imagen del usuario -->
      <div class="header">
        <img src="icons/usuario.png" alt="">
        <h3>{{ nombreUsuario }} {{ apellidoUsuario }}</h3>
        <div class="role-switcher">
          <select (change)="cambiarRol($event)" [value]="rolActivo">
              <option *ngFor="let rol of roles" [value]="rol" [selected]="rol === rolActivo">
              {{ rol }}
              </option>
          </select>  
        </div>
      </div>
  
      <!-- Menú de navegación -->
      <nav>
        <ul>
          <!-- Opción "Dashboard Cliente" -->
          <li>
            <a (click)="navigateDashboarCliente()" class="dashboard active">
              <div style="display: flex; align-items: center;">
                <span class="material-icons">dashboard</span>
                <span>Dashboard</span>
              </div>
            </a>
          </li>
  
          <!-- Menú "Vehículo" con submenú -->
          <li>
            <a (click)="toggleMenu('mecanicos')">
              <div style="display: flex; align-items: center;">
                <span class="material-icons">directions_car</span>
                <span>Vehículo</span>
              </div>
            </a>
            <ul *ngIf="showMecanicosMenu" class="submenu">
              <li class="submenu-item">
                <a (click)="navigateVehiculoCliente()">
                  <div style="display: flex; align-items: center;">
                    <span class="material-icons">event_available</span>
                    <span>Registrar Vehículo</span>
                  </div>
                </a>
              </li>
            </ul>
            <ul *ngIf="showMecanicosMenu" class="submenu">
                <li class="submenu-item">
                  <a (click)="navigateListadoVehiculos()">
                    <div style="display: flex; align-items: center;">
                      <span class="material-icons">list</span>
                      <span>Listado</span>
                    </div>
                  </a>
                </li>
            </ul>
          </li>
  
          <!-- Menú "Citas" con submenú -->
          <li>
            <a (click)="toggleMenu('citas')">
              <div style="display: flex; align-items: center;">
                <span class="material-icons">calendar_today</span>
                <span>Citas</span>
              </div>
            </a>
            <ul *ngIf="showCitasMenu" class="submenu">
              <li class="submenu-item">
                <a (click)="navigateCitasCliente()">
                    <div style="display: flex; align-items: center;">
                    <span class="material-icons">event_available</span>
                    <span>Programar Cita</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
  
          <!-- Menú "Historial" -->
          <li>
            <a (click)="toggleMenu('historial')">
              <div style="display: flex; align-items: center;">
                <span class="material-icons">history</span>
                <span>Historial</span>
              </div>
            </a>
            <ul *ngIf="showHistorialMenu" class="submenu">
              <li class="submenu-item">
                <a routerLink="/history">
                  <div style="display: flex; align-items: center;">
                    <span class="material-icons">history_toggle_off</span>
                    <span>Historial de Servicios</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
  
          <!-- Menú "Monitoreo Tiempo Real" con submenú -->
          <li>
            <a (click)="toggleMenu('monitoreo')">
              <div style="display: flex; align-items: center;">
                <span class="material-icons">settings</span>
                <span>Monitoreo TR</span>
              </div>
            </a>
            <ul *ngIf="showMonitoreoMenu" class="submenu">
              <li class="submenu-item">
                <a (click)="navigateMonitoreoCliente()">
                  <div style="display: flex; align-items: center;">
                    <span class="material-icons">build</span>
                    <span>Estado del Vehículo</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
  
          <!-- Opción "Cerrar Sesión" -->
          <li>
            <a (click)="logout()">
              <div style="display: flex; align-items: center;">
                <span class="material-icons">logout</span>
                <span>Cerrar Sesión</span>
              </div>
            </a>
          </li>
        </ul>
      </nav>
  
      <!-- Reloj al final del Sidebar -->
      <div class="reloj-container">
        <i class="fas fa-clock"></i>
        <span>{{ tiempoRestante }}</span>
      </div>
      
    </div>
  
    <!-- Contenido Principal del Dashboard -->
    <div class="main-content">
        <div class="auth-container">
          <div class="header">
            <h2>Historial de Citas</h2>
            <p>Listado de servicios realizados</p>
             <!-- Filtros de Historial de Servicios -->
            <div class="filtros-container">
              <div class="filtros-row">
                <select [(ngModel)]="filtrosServicios.anio" class="filtro-input">
                  <option value="">Seleccione un Año</option>
                  <option *ngFor="let year of anios" [value]="year">{{ year }}</option>
                </select>
                <select [(ngModel)]="filtrosServicios.mes" class="filtro-input">
                  <option value="">Seleccione un Mes</option>
                  <option *ngFor="let mes of meses" [value]="mes.value">{{ mes.label }}</option>
                </select>
              </div>
              <button (click)="descargarHistorialPDF()">Generar Reporte</button>
            </div>
          </div>
      
          <mat-form-field appearance="outline">
            <mat-label>Buscar</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por fecha, servicio o costo" #filter>
          </mat-form-field>
      
          <!-- Tabla para mostrar los datos -->
            <div class="table-container">
              <table mat-table [dataSource]="dataSource" matSort>
                <!-- Fecha -->
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                  <td mat-cell *matCellDef="let historial">{{ historial.fecha | date: 'd \'de\' MMMM \'de\' yyyy' }}</td>
                </ng-container>
              
                <!-- Tipo de Servicio -->
                <ng-container matColumnDef="tipo_servicio">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Servicios</th>
                  <td mat-cell *matCellDef="let historial">{{ historial.tipo_servicio }}</td>
                </ng-container>
              
                <!-- Costo -->
                <ng-container matColumnDef="costo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo</th>
                  <td mat-cell *matCellDef="let historial">{{ historial.costo | currency }}</td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="3">No hay datos que coincidan con "{{ filterValue }}"</td>
                </tr>

              </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>    
</div>
  