<div class="dashboard-container">
    <!-- 1. Aquí pones el botón toggle -->
    <button class="menu-toggle" (click)="sidebarActive = !sidebarActive">
        <i class="fa fa-bars"></i>
    </button>
    <!-- Sidebar/Menu Lateral -->
    <div class="sidebar" [class.active]="sidebarActive">
        <div class="header">
            <img src="icons/usuario.png" alt="">
            <h3>{{ nombreUsuario }} {{ apellidoUsuario }}</h3>
            <p>Rol actual: {{ rolActivo ? rolActivo : 'Sin rol' }}</p>
          
            <!-- Selector de rol -->
            <div class="role-switcher">
                <select (change)="cambiarRol($event)" [value]="rolActivo">
                    <option *ngFor="let rol of roles" [value]="rol" [selected]="rol === rolActivo">
                    {{ rol }}
                    </option>
                </select>  
            </div>
        </div>
        
        <nav>
            <ul>
                <!-- Opción "Dashboard Administrador" -->
                <li>
                    <a (click)="navigateDashboard()">
                        <div style="display: flex; align-items: center;">
                            <i class="fa-solid fa-gauge-high" style="color: #050505; font-size: 20px; margin-right: 10px;"></i>
                            <span style="font-size: 20px; font-weight: bold; color: #050505;">Dashboard</span>
                        </div>
                    </a>
                </li>
        
                <!-- Menú "Citas" con submenú -->
                <li>
                    <a (click)="toggleMenu('citas')">
                        <div style="display: flex; align-items: center;">
                            <i class="fa-solid fa-calendar-alt" style="color: #050505; font-size: 18px; margin-right: 10px;"></i>
                            <span style="font-size: 18px; font-weight: bold; color: #050505;">Citas</span>
                        </div>
                    </a>
                    <ul *ngIf="showCitasMenu" class="submenu">
                        <li class="submenu-item">
                            <a (click)="navigateCitasMecanico()">
                                <div style="display: flex; align-items: center;">
                                    <i class="fa-solid fa-calendar-check" style="color: #050505; font-size: 14px; margin-right: 8px;"></i>
                                    <span style="font-size: 14px; color: #050505;">Ver Citas</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
        
                <!-- Menú "Trabajos" con submenú -->
                <li>
                    <a (click)="toggleMenu('trabajos')">
                            <div style="display: flex; align-items: center;">
                                <i class="fa-solid fa-toolbox" style="color: #050505; font-size: 18px; margin-right: 10px;"></i>
                            <span style="font-size: 18px; font-weight: bold; color: #050505;">Trabajos</span>
                        </div>
                    </a>
                    <ul *ngIf="showTiposnMenu" class="submenu">
                        <li class="submenu-item">
                            <a (click)="navigateTrabajos()">
                                <div style="display: flex; align-items: center;">
                                    <i class="fa-solid fa-plus-circle" style="color: #050505; font-size: 14px; margin-right: 8px;"></i>
                                    <span style="font-size: 14px; color: #050505;">Ver Trabajos</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul *ngIf="showTiposnMenu" class="submenu">
                        <li class="submenu-item">
                            <a (click)="navigateDiagnostico()">
                                <div style="display: flex; align-items: center;">
                                    <i class="fa-solid fa-plus-circle" style="color: #050505; font-size: 14px; margin-right: 8px;"></i>
                                    <span style="font-size: 14px; color: #050505;">Diagnóstico</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul *ngIf="showTiposnMenu" class="submenu">
                        <li class="submenu-item">
                            <a (click)="descargarReporte()">
                                <div style="display: flex; align-items: center;">
                                    <i class="fa-solid fa-plus-circle" style="color: #050505; font-size: 14px; margin-right: 8px;"></i>
                                    <span style="font-size: 14px; color: #050505;">Reporte de Trabajos Completados por Cita Atendida</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
        
                <!-- Opción "Cerrar Sesión" -->
                <li>
                    <a (click)="logout()">
                        <div style="display: flex; align-items: center;">
                            <i class="fa-solid fa-right-from-bracket" style="color: #050505; font-size: 18px; margin-right: 10px;"></i>
                            <span style="font-size: 18px; font-weight: bold; color: #050505;">Cerrar Sesión</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Reloj al final del Sidebar -->
        <div class="reloj-container">
            <i class="fas fa-clock"></i>
            <span>{{ tiempoRestante }}</span>
        </div>
    </div>
    
    <!-- Contenido Principal del Dashboard -->
    <div class="main-content">
        <div class="trabajos-container">
            <div class="card-wrapper" *ngFor="let trabajo of pagedTrabajos; trackBy: trackById">
                <div class="card-black">
                    <!-- Sección de imagen (parte superior de la tarjeta) -->
                    <igx-card-media height="150px">
                        <img
                            [src]="'http://localhost:8000/' + (trabajo?.vehiculo?.imagen || 'default-image.png')"
                            alt="Imagen del vehículo"
                        />
                    </igx-card-media>
                    <!-- Encabezado de la tarjeta (Título y subtítulo) -->
                    <igx-card-header>
                        <h3 igxCardHeaderTitle>
                            {{ trabajo?.vehiculo?.marca || 'Sin marca' }} - {{ trabajo?.vehiculo?.modelo || 'Sin modelo' }}
                        </h3>                     
                    </igx-card-header>
            
                    <!-- Contenido principal -->
                    <igx-card-content>
                        <p>
                            <strong>Cliente:</strong>
                            {{ trabajo?.cita?.cliente?.nombre || 'Sin cliente' }} {{ trabajo?.cita?.cliente?.apellido || '' }}
                        </p>

                        <p>
                            <strong>Placa:</strong>
                            {{ trabajo.vehiculo.numero_placa ?? 'N/D' }}
                        </p>

                        <!-- NUEVO: Kilometraje y Último Servicio -->
                        <p>
                            <strong>Kilometraje:</strong>
                            {{ trabajo?.vehiculo?.kilometraje ?? 'N/D' }} km
                        </p>
                        <p>
                            <strong>Último Servicio:</strong>
                            <span *ngIf="trabajo?.vehiculo?.fecha_ultimo_servicio; else nunca">
                            {{ trabajo.vehiculo.fecha_ultimo_servicio | date:'dd/MM/yyyy' }}
                            </span>
                            <ng-template #nunca>
                            Nunca
                            </ng-template>
                        </p>

                        <div class="section servicios">
                            <p>
                                <strong>Servicios Solicitados</strong>
                            </p>
                            <div class="listar">
                                <div *ngFor="let detalle of trabajo.detalles_servicios" class="detalle-servicio">
                                    <div class="detalle-texto">
                                        <p>
                                        <strong>{{ detalle.servicio.nombre }}</strong><br>
                                        <strong>Cantidad:</strong> {{ detalle.cantidad }}<br>
                                        <strong>Progreso:</strong> {{ detalle.progreso }}%<br>
                                        <strong>Descripción:</strong> {{ detalle.descripcion || 'Sin descripción' }}
                                        </p>
                                    </div>

                                    <div class="detalle-accion">
                                            <button
                                                mat-icon-button
                                                (click)="abrirModalCantidad(detalle, detalle.servicio.nombre)"
                                                aria-label="Editar cantidad"
                                            >
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Nueva sección: REPUESTOS -->
                        <div class="section repuestos" *ngIf="isCitaIniciada(trabajo)">
                            <p>
                                <strong>Repuestos</strong>
                                <button mat-button color="primary"
                                (click)="validarHoraCita(trabajo) && consultarInventario(trabajo)">
                                Consultar Repuestos
                                </button>
                            </p>

                            <div class="list" *ngIf="trabajo.detalles_repuestos?.length; else sinRepuestos">
                                <div *ngFor="let dr of trabajo.detalles_repuestos" class="item" style="margin-bottom:16px;">
                                    <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px; margin-right: 20px;">
                                        <div>
                                            <p>
                                                <strong>{{ dr.repuesto.nombre }}</strong><br>
                                                Cantidad: {{ dr.cantidad }}<br>
                                                Subtotal: {{ dr.subtotal | currency }}<br>
                                                <span *ngIf="dr.repuesto.stock < dr.cantidad"
                                                    style="color:#c0392b;font-weight:bold;">
                                                ⚠️ Sin stock suficiente en inventario.
                                                </span>
                                            </p>
                                        </div>
                                        <!-- Botón para editar cantidad de repuesto -->
                                        <button mat-icon-button
                                                aria-label="Editar cantidad de repuesto"
                                                (click)="abrirModalCantidadRepuesto(dr, dr.repuesto.nombre)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ng-template #sinRepuestos>
                            <p style="font-style: italic;">No se han usado repuestos en esta orden.</p>
                        </ng-template>

                    </igx-card-content>

                    <!-- Sección de acciones (botones) -->
                    <mat-card-actions class="button-row">

                        <!-- Diagnóstico: sólo si ya empezó y está en Diagnosticado -->
                        <button
                            mat-icon-button
                            class="custom-button accent-button"
                            *ngIf="isCitaIniciada(trabajo)
                                && trabajo.cita.estado === 'Diagnosticado'
                                && esMecanicoAsignado(trabajo)
                                && isDiagnostico(trabajo)"
                            (click)="validarHoraCita(trabajo) && abrirModalDiagnostico(trabajo)"
                        >
                            <mat-icon>medical_services</mat-icon>
                        </button>

                        <!-- Actualizar progreso: sólo si ya empezó y NO está en Diagnosticado -->
                        <button
                            mat-icon-button
                            class="custom-button accent-button"
                            *ngIf="isCitaIniciada(trabajo)
                                && trabajo.cita.estado !== 'Diagnosticado'"
                            (click)="validarHoraCita(trabajo) && abrirModalActualizar(trabajo)"
                        >
                            <mat-icon>update</mat-icon>
                        </button>

                        <!-- Actualizar descripción: igual -->
                        <button
                            mat-icon-button
                            class="custom-button accent-button"
                            *ngIf="isCitaIniciada(trabajo)
                                && trabajo.cita.estado !== 'Diagnosticado'"
                            (click)="validarHoraCita(trabajo) && abrirModalDescripcion(trabajo)"
                        >
                            <mat-icon>description</mat-icon>
                        </button>

                        <!-- Finalizar trabajo: igual -->
                        <button
                            mat-icon-button
                            class="custom-button warn-button"
                            *ngIf="isCitaIniciada(trabajo)
                                && trabajo.cita.estado !== 'Diagnosticado'"
                            (click)="validarHoraCita(trabajo) && finalizarTrabajo(trabajo)"
                        >
                            <mat-icon>done_all</mat-icon>
                        </button>

                    </mat-card-actions>
                </div>
            </div>
        </div>

        <!-- PAGINACIÓN CENTRADA -->
        <div class="paginator">
            <button (click)="goTo(currentPage-1)" [disabled]="currentPage===0">« Anterior</button>
            <span>Página {{currentPage+1}} de {{ totalPages }}</span>
            <button (click)="goTo(currentPage+1)" [disabled]="currentPage+1 >= totalPages">Siguiente »</button>
        </div>
    </div>  
    <div class="status-guide-container">
        <div class="status-cards">
          <!-- Card para pendiente -->
          <div class="status-card status-pending">
            <div class="status-icon">
              <i class="fa-solid fa-hourglass-start"></i>
            </div>
            <div class="status-info">
              <h4>Confirmada</h4>
              <p>Todos los progresos están en 0%.</p>
            </div>
          </div>
      
          <!-- Card para en proceso -->
          <div class="status-card status-in-progress">
            <div class="status-icon">
              <i class="fa-solid fa-tools"></i>
            </div>
            <div class="status-info">
              <h4>En Proceso</h4>
              <p>Al menos un progreso mayor a 0%, pero no todos completados.</p>
            </div>
          </div>
      
          <!-- Card para completado -->
          <div class="status-card status-completed">
            <div class="status-icon">
              <i class="fa-solid fa-check-circle"></i>
            </div>
            <div class="status-info">
              <h4>Atendida</h4>
              <p>Todos los progresos están en 100%. </p>
            </div>
          </div>
        </div>
    </div>
</div>   