<div class="dashboard-container">
    <!-- Sidebar/Menu Lateral -->
    <div class="sidebar">
      <div class="header">
        <img src="icons/usuario.png" alt="">
        <h3>{{ nombreUsuario }} {{ apellidoUsuario }}</h3>
        <p>Rol actual: {{ rolActivo ? rolActivo : 'Sin rol' }}</p>
      
        <!-- Selector de rol -->
        <div class="role-switcher">
          <select (change)="cambiarRol($event)">
            <option *ngFor="let rol of roles" [value]="rol">{{ rol }}</option>
          </select>
        </div>
      </div>
      <nav>
        <ul>
          <!-- Opción "Dashboard Administrador" -->
          <li>
            <a (click)="navigateDashboardAdmin()">
              <div style="display: flex; align-items: center;">
                <i class="fa-solid fa-gauge-high" style="color: #050505; font-size: 20px; margin-right: 10px;"></i>
                <span style="font-size: 20px; font-weight: bold; color: #050505;">Dashboard</span>
              </div>
            </a>
          </li>
  
          <!-- Menú "Mecánicos" con submenú -->
          <li>
            <a (click)="toggleMenu('mecanicos')">
              <div style="display: flex; align-items: center;">
                <i class="fa-solid fa-user-group" style="color: #0d0d0d; font-size: 18px; margin-right: 10px;"></i>
                <span style="font-size: 18px; font-weight: bold; color: #050505;">Mecánicos</span>
              </div>
            </a>
            <!-- Submenú -->
            <ul *ngIf="showMecanicosMenu" class="submenu">
              <li class="submenu-item">
                <a (click)="navigateToCrearMecanico()">
                  <div style="display: flex; align-items: center;">
                    <i class="fa-solid fa-user-plus" style="color: #0d0d0d; font-size: 14px; margin-right: 8px;"></i>
                    <span style="font-size: 14px; color: #050505;">Agregar Mecánico</span>
                  </div>
                </a>
              </li>
              <li class="submenu-item">
                <a (click)="navigateListarMecanico()">
                  <div style="display: flex; align-items: center;">
                    <i class="fa-solid fa-list" style="color: #0d0d0d; font-size: 14px; margin-right: 8px;"></i>
                    <span style="font-size: 14px; color: #050505;">Listar Mecánicos</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <!-- Menú "Clientes" con submenú -->
          <li>
            <a (click)="toggleMenu('clientes')">
              <div style="display: flex; align-items: center;">
                <i class="fa-solid fa-user-group" style="color: #0d0d0d; font-size: 18px; margin-right: 10px;"></i>
                <span style="font-size: 18px; font-weight: bold; color: #050505;">Clientes</span>
              </div>
            </a>
            <!-- Submenú -->
            <ul *ngIf="showClientesMenu" class="submenu">
              <li class="submenu-item">
                <a (click)="navigateListarClientes()">
                  <div style="display: flex; align-items: center;">
                    <i class="fa-solid fa-list" style="color: #0d0d0d; font-size: 14px; margin-right: 8px;"></i>
                    <span style="font-size: 14px; color: #050505;">Listar Clientes</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
  
          <!-- Menú "Horarios" con submenú -->
          <li>
            <a (click)="toggleMenu('horarios')">
              <div style="display: flex; align-items: center;">
                <i class="fa-solid fa-calendar-plus" style="color: #050505; font-size: 18px; margin-right: 10px;"></i>
                <span style="font-size: 18px; font-weight: bold; color: #050505;">Horarios</span>
              </div>
            </a>
            <ul *ngIf="showHorariosMenu" class="submenu">
              <li class="submenu-item">
                <a routerLink="/add-schedule">
                  <div style="display: flex; align-items: center;">
                    <i class="fa-solid fa-calendar-plus" style="color: #050505; font-size: 14px; margin-right: 8px;"></i>
                    <span style="font-size: 14px; color: #050505;">Agregar Horario</span>
                  </div>
                </a>
              </li>
              <li class="submenu-item">
                <a (click)="navigateListarHorarios()">
                  <div style="display: flex; align-items: center;">
                    <i class="fa-solid fa-calendar-alt" style="color: #050505; font-size: 14px; margin-right: 8px;"></i>
                    <span style="font-size: 14px; color: #050505;">Listar Horarios</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <!-- Menú "Tipos de Servicios" con submenú -->
          <li>
            <a (click)="toggleMenu('orden')">
                <div style="display: flex; align-items: center;">
                <i class="fa-solid fa-toolbox" style="color: #050505; font-size: 18px; margin-right: 10px;"></i>
                <span style="font-size: 18px; font-weight: bold; color: #050505;">Tipos de Servicios</span>
                </div>
            </a>
            <ul *ngIf="showOrdenMenu" class="submenu">
                <li class="submenu-item">
                  <a (click)="navigateListarOrden()">
                      <div style="display: flex; align-items: center;">
                          <i class="fa-solid fa-plus-circle" style="color: #050505; font-size: 14px; margin-right: 8px;"></i>
                          <span style="font-size: 14px; color: #050505;">Agregar Tipo de Servicio</span>
                      </div>
                  </a>
                </li>
                <li class="submenu-item">
                  <a (click)="navigateListarServicio()">
                    <div style="display: flex; align-items: center;">
                      <i class="fa-solid fa-list" style="color: #050505; font-size: 14px; margin-right: 8px;"></i>
                      <span style="font-size: 14px; color: #050505;">Listar Tipos de Servicios</span>
                    </div>
                  </a>
                </li>
            </ul>
          </li>
          
          <!-- Menú "Servicios" con submenú -->
          <li>
            <a (click)="toggleMenu('tipos')">
                <div style="display: flex; align-items: center;">
                <i class="fa-solid fa-toolbox" style="color: #050505; font-size: 18px; margin-right: 10px;"></i>
                <span style="font-size: 18px; font-weight: bold; color: #050505;">Servicios</span>
                </div>
            </a>
            <ul *ngIf="showTiposnMenu" class="submenu">
                <li class="submenu-item">
                <a (click)="navigateArgregarServicio()">
                    <div style="display: flex; align-items: center;">
                        <i class="fa-solid fa-plus-circle" style="color: #050505; font-size: 14px; margin-right: 8px;"></i>
                        <span style="font-size: 14px; color: #050505;">Agregar Servicio</span>
                    </div>
                </a>
                </li>
                <li class="submenu-item">
                  <a (click)="navigateListarSubtipo()">
                      <div style="display: flex; align-items: center;">
                      <i class="fa-solid fa-list" style="color: #050505; font-size: 14px; margin-right: 8px;"></i>
                      <span style="font-size: 14px; color: #050505;">Listar Servicios</span>
                      </div>
                  </a>
                </li>
            </ul>
          </li>

          <!-- Menú "Citas" con submenú -->
          <li>
            <a (click)="toggleMenu('citas')">
              <div style="display: flex; align-items: center;">
                <i class="fa-solid fa-calendar-days" style="color: #050505; font-size: 18px; margin-right: 10px;"></i>
                <span style="font-size: 18px; font-weight: bold; color: #050505;">Citas</span>
              </div>
            </a>
            <ul *ngIf="showCitasMenu" class="submenu">
              <li class="submenu-item">
                <a (click)="navigateListarCitas()">
                  <div style="display: flex; align-items: center;">
                    <i class="fa-solid fa-calendar-check" style="color: #050505; font-size: 14px; margin-right: 8px;"></i>
                    <span style="font-size: 14px; color: #050505;">Ver Citas de Mecánicos</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <!-- Opción "Cerrar Sesión" -->
          <li>
            <a (click)="logout()">
              <div style="display: flex; align-items: center;">
                <i class="fa-solid fa-right-from-bracket" style="color: #050505; font-size: 18px; margin-right: 10px;"></i>
                <span style="font-size: 18px; font-weight: bold; color: #050505;">Cerrar Sesión</span>
              </div>
            </a>
          </li>
        </ul>
      </nav>
      <!-- Reloj al final del Sidebar -->
      <div class="reloj-container">
        <i class="fas fa-clock"></i>
        <span>{{ tiempoRestante }}</span>
      </div>
    </div>
  
    <!-- Contenido Principal del Dashboard -->
    <div class="main-content">
      <div class="auth-container">
        <div class="header">
          <h2>Registrar Horario</h2>
          <p>Horario de Atención del Día</p>
        </div><br>

        <form [formGroup]="horarioForm" (ngSubmit)="onSubmit()">
          <!-- Día de la Semana -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Día de la Semana</mat-label>
            <mat-select formControlName="dia_semana">
              <mat-option *ngFor="let dia of diasSemana" [value]="dia">{{ dia }}</mat-option>
            </mat-select>
          </mat-form-field>
    
          <div class="input-row">
            <!-- Mañana -->
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Inicio de Jornada</mat-label>
              <input matInput type="time" formControlName="manana_inicio">
            </mat-form-field>

            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Fin de Jordana</mat-label>
              <input matInput type="time" formControlName="tarde_fin">
            </mat-form-field>

            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Capacidad Máxima de Reservas</mat-label>
              <input
                matInput type="number" formControlName="capacidad_max" min="1" max="10"
                placeholder="Ingrese la capacidad"
              >
              <mat-error *ngIf="horarioForm.get('capacidad_max')?.hasError('required')">
                La capacidad es obligatoria.
              </mat-error>
              <mat-error *ngIf="horarioForm.get('capacidad_max')?.hasError('pattern')">
                Debe ingresar solo números.
              </mat-error>
              <mat-error *ngIf="horarioForm.get('capacidad_max')?.hasError('min')">
                La capacidad debe ser al menos 1.
              </mat-error>
              <mat-error *ngIf="horarioForm.get('capacidad_max')?.hasError('max')">
                La capacidad no puede superar 10.
              </mat-error>
            </mat-form-field>                                
          </div>

          <!-- Botón para enviar formulario -->
          <button class="large-button" mat-flat-button type="submit">Guardar Cambios</button>
        </form>
      </div>
    </div>                
</div>