<div class="auth-container">
  <div class="auth-box">
    <h2>Recuperar Contraseña</h2>
    <p>Ingresa tu correo electrónico para enviarte un enlace de recuperación.</p><br>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <!-- Campo de Correo Electrónico -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo Electrónico</mat-label>
        <mat-icon matPrefix>mail</mat-icon>
        <input matInput formControlName="correo" placeholder="example@mail.com" />
        <mat-error *ngIf="resetForm.get('correo')?.invalid">Correo requerido</mat-error>
      </mat-form-field>
      
      <!-- Espacio adicional -->
      <div class="spacer"></div>
      
      <!-- Botón de Enviar -->
      <button mat-raised-button color="primary" class="btn-submit" type="submit">
        Enviar Enlace
      </button>
      
      <!-- Espacio adicional -->
      <div class="spacer"></div>
      
      <!-- Link para volver a iniciar sesión -->
      <div class="forgot-password">
        <p>¿Ya tienes cuenta? <a (click)="goToLogin()">Inicia sesión aquí</a></p>
      </div>
    </form>
  </div>
</div>
