/* Contenedor principal */
  .auth-container {
    position: fixed;    /* o absolute si prefieres */
    top: 0;
    left: 0;
    width: 100%;        /* cubrir todo el ancho */
    height: 100%;       /* cubrir todo el alto */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* tu overlay + fondo */
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://www.tallerestraba.es/images/coches-talleres-mecanicos-lousame.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  /* Caja del formulario */
  .auth-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2.5rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Título */
  .auth-box h2 {
    font-size: 28px;
    font-weight: bold;
    color: #3f51b5;
    margin-bottom: 1rem;
  }
  
  /* Descripción */
  .auth-box p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  /* Campo de entrada */
  .mat-form-field {
    width: 100%;
    margin-bottom: 2.5rem; /* Cambiado de 1.6rem a 2.5rem para mayor espacio */
  }

  .spacer {
    height: 20px; /* Ajusta este valor según el espacio deseado */
  }
  
  .mat-form-field .mat-label {
    font-weight: 500;
    color: #555;
  }
  
  /* Botón de enviar enlace */
  .btn-submit {
    width: 100%;
    padding: 0.8rem;
    font-size: 18px;
    color: #ffffff !important;
    background-color: #3f51b5 !important;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(63, 81, 181, 0.3);
    border: none;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-submit:hover {
    background-color: #2c387e !important;
  }
  
  .btn-submit:focus {
    outline: none;
  }
  
  /* Link para volver a iniciar sesión */
  .forgot-password {
    margin-top: 1rem; /* Reduce el margen superior */
    font-size: 12px; /* Texto más pequeño */
  }
  
  .forgot-password a {
    font-size: 12px; /* Ajusta el tamaño del enlace */
    color: #3f51b5;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  